@model TurtleDAL.uspNinjaSelect_Result

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ninja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Picture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsExperienced)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsExperienced)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAlive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAlive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NinjaGUID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NinjaGUID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clan.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clan.Name)
        </dd>

    </dl>
</div>
<div class="btn-group">
    <a href=@Url.Action("Create","Ninjas") class="btn btn-primary">
        <span class="glyphicon glyphicon-plus-sign"></span> New
    </a>
    <a href=@Url.Action("Edit","Ninjas", new {guid = Model.NinjaGUID }) class="btn btn-warning">
        <span class="glyphicon glyphicon-edit"></span> Edit
    </a>
    <a href=@Url.Action("Delete","Ninjas", new {guid = Model.NinjaGUID }) class="btn btn-danger">
        <span class="glyphicon glyphicon-trash"></span> Delete
    </a>
    <a href=@Url.Action("List","Ninjas") class="btn btn-default">
        <span class="glyphicon glyphicon-th-list"></span> List
    </a>
    <a href=@Url.Action("Index","Ninjas") class="btn btn-success">
        <span class="glyphicon glyphicon-home"></span> Index
    </a>
</div>