@model IEnumerable<TurtleDAL.Ninja>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsExperienced)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAlive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NinjaGUID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clan.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Picture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsExperienced)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAlive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NinjaGUID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clan.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NinjaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.NinjaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NinjaID })
        </td>
    </tr>
}

</table>
